@import 'components/color';
@import 'components/variables';
 
// Custom color settings go here
$primary-color: color("green", "darken-1");
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("green") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
 
@import 'materialize';
@import 'ember-cli-materialize';

.select-box {
	position: relative;
	padding: 30px 15px 15px 15px;
}
.select-box:before {
	position: absolute;
	left: 15px;
	top: 4px;
	font-size: 0.8rem;
	color: #9e9e9e;
}
.select-box .select2-container {
	width: 100%;
}

.ingredient-box:before {
	content: "Select Ingredient";
}

.equipment-box:before {
	content: "Select Glassware";
}
