<div class="row">
	<div class="col s12">
		<h3>{{model.name}}</h3>
		{{#if model.description}}
			<p class="flow-text">{{model.description}}</p>
		{{/if}}
		<hr>
		{{#if model.equivalents}}
			<h5>Equivalent Ingredients</h5>
			{{#each model.equivalents as |ingredient|}}
				{{#link-to 'ingredient.view' ingredient.id}}{{ingredient.name}}{{/link-to}}
			{{/each}}
		{{/if}}
	</div>
</div>