<ol class="breadcrumb">
  <li>{{#link-to 'application'}}<i class="fa fa-glass"></i>{{/link-to}}</li>
  <li>{{#link-to 'ingredient'}}ingredients{{/link-to}}</li>
  <li class="active">{{model.name}}</li>
</ol>
<div class="row">
	<div class="col-md-12">
		<h2>{{model.name}}<br></h2>
	</div>
</div>
	