<ul class="collection">
	{{#each equipment in model}}
		{{#link-to 'equipment.view' equipment.id class="collection-item"}}
			<span class="badge blue lighten-4">{{equipment.type}}</span>
			{{equipment.name}}
		{{/link-to}}
	{{/each}}
</ul>