<ol class="breadcrumb">
  <li>{{#link-to 'application'}}<i class="fa fa-glass"></i>{{/link-to}}</li>
  <li class="active">equipment</li>
</ol>
{{#each equipment in model}}
	{{#link-to 'equipment.view' equipment.id}}{{equipment.name}}{{/link-to}}<br>
{{/each}}