<div class="row">
	<div class="col s12">
		<h2>{{model.name}}<br></h2>
	</div>
	<hr>
	<div class="col s12 m6">
		<p class="flow-text">{{model.description}}</p>
	</div>
	<div class="col s12 m6">
		<img class="responsive-img" src={{model.image}}>
	</div>
</div>
	