<div class="row" style="padding-top: 10px">
	<div class="col s12 m6">
		<div class="card medium center-align">
			<div class="center-align" style="padding-top: 15px">
				<p class="flow-text">Roger Adams</p>
			</div>
			<div class="card-content center-align">
				<p class="flow-text"><a href="https://twitter.com/rogdev" target="_blank"><i class="fa fa-twitter"></i> @rogdev</a></p>
				<hr>
				<p class="flow-text"><a href="https://github.com/adamsrog" target="_blank"><i class="fa fa-github"></i> adamsrog</a></p>

			</div>
			<div class="card-action">
				<a href='http://rogerada.ms' target="_blank">Website</a>
				<a href='mailto:roger@pidevelopment.org' target="_blank">Contact</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card medium center-align">
			<div class="center-align" style="padding-top: 15px">
				<img src="images/about/ember.png">
			</div>
			<div class="card-content center-align">
				<p class="flow-text">A framework for creating<br><strong>ambitious</strong> web applications.</p>
			</div>
			<div class="card-action">
				<a href='https://emberjs.com' target="_blank">Website</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m6">
		<div class="card medium center-align">
			<div class="center-align">
				<div id="showcase">
					<div class="content">
						<h1 class="black-text">ember <span>CLI</span></h1>
					</div>
				</div>
			</div>
			<div class="card-content center-align">
				<p class="flow-text">The command line interface for ambitious web applications.</p>
			</div>
			<div class="card-action">
				<a href='https://ember-cli.com' target="_blank">Website</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card medium center-align">
			<div class="center-align">
				<img src="images/about/d3.png">
			</div>
			<div class="card-content center-align">
				<p class="flow-text">Data-Driven Documents</p>
			</div>
			<div class="card-action">
				<a href='https://d3js.com' target="_blank">Website</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m6">
		<div class="card medium center-align">
			<div class="center-align" style="padding-top: 40px">
				<img src="images/about/firebase.png">
			</div>
			<div class="card-content center-align">
				<h3>Build Realtime Apps</h3>
				<p class="flow-text">A powerful API to store and sync data in realtime.</p>
			</div>
			<div class="card-action">
				<a href='https://firebase.com' target="_blank">Website</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card medium center-align">
			<div class="center-align" style="padding-top: 40px">
				<div id="showcase">
					<div class="content">
						<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
							<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
						</a>
					</div>
				</div>
			</div>
			<div class="card-content center-align">
				<p class="flow-text">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
			</div>
			<div class="card-action">
				<a href='http://creativecommons.org/licenses/by-sa/3.0/' target="_blank">License</a>
			</div>
		</div>
	</div>

</div>