<div id="wrapper">
	<div class="navbar-fixed">
		<nav role="navigation">
			<div class="nav-wrapper container">
				{{#link-to 'index' class="brand-logo"}}<i class="mdi-maps-local-bar"> bartender</i>{{/link-to}}
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					{{#link-to 'index' tagName="li"}}<a>home</a>{{/link-to}}
					{{#link-to 'beverage' tagName="li"}}<a>drinks</a>{{/link-to}}
					{{#link-to 'ingredient' tagName="li"}}<a>ingredients</a>{{/link-to}}
					{{#link-to 'equipment' tagName="li"}}<a>equipment</a>{{/link-to}}
					{{#link-to 'about' tagName="li"}}<a>about</a>{{/link-to}}
				</ul>
				<ul id="slide-out" class="side-nav">
					{{#link-to 'index' tagName="li"}}<a>home</a>{{/link-to}}
					{{#link-to 'beverage' tagName="li"}}<a>drinks</a>{{/link-to}}
					{{#link-to 'ingredient' tagName="li"}}<a>ingredients</a>{{/link-to}}
					{{#link-to 'equipment' tagName="li"}}<a>equipment</a>{{/link-to}}
					{{#link-to 'about' tagName="li"}}<a>about</a>{{/link-to}}
				</ul>
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</div>
		</nav>
	</div>

	<div id="content" class="container">
		{{outlet}}
	</div>

</div>