{{select-2 content=model.ingredients value=selectedIngredients multiple=true optionValuePath='id' placeholder="Choose ingredients"}}
<ul>
{{#each ingredient in model.ingredients}}
	<li>{{ingredient.name}}</li>
{{/each}}
</ul>